.home-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    .blur-card {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        position: absolute;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.5;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.2em;
        position: absolute;
        top: 56%;
        width: 100%;
        color: #fff;
    }
}