.word-modal-wrapper {
    text-align: center;
}

p {
    margin: 5px 0;
    font-size: 25px;
}

.japanese {
    font-weight: bold;
    font-size: 32px;
}

.vietnamese {}

.english {}

.romaji {}

.date {
    font-size: 18px;
}