.katakana-romaji-wrapper {
    button {
        width: 60px;
    }
    button.right {
        background-color: #2ec95c !important;
    }
    button.wrong {
        background-color: #f53d3d !important;
    }
    button[disabled] {
        background-color: #828282;
        opacity: 1 !important;
    }
    button.btn-close {
        width: 100% !important;
    }
    .score {
        font-size: 20px;
        line-height: 50px;
    }
    .box-game-wrapper {
        margin: 10px auto 20px;
    }
    .box-game {
        font-size: 80px;
        line-height: 180px;
        background-color: #f53d3d;
        color: #fff;
        width: 180px;
        height: 180px;
    }
    .box-time {
        font-size: 25px;
        line-height: 50px;
        background-color: #2ec95c;
        color: #fff;
        width: 50px;
        height: 50px;
    }
    .box-pass-wrapper {
        margin: 10px auto;
    }
    .box-pass {
        font-size: 30px;
        background-color: #2ec95c;
        color: #fff;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        line-height: 120px;
        position: relative;
    }
    .box-input-wrapper {
        margin-top: 10px;
    }
    ion-icon {
        font-size: 1.7em;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }
    .box-result-wrapper {
        width: 100%;
        font-size: 60px;
        color: #427feb;
        text-align: center;
    }
}

.custom-spinner-wrapper {
    font-size: 120px;
    color: #fff;
}

.word-game,
.not-start-gaming {
    -webkit-animation: fadein 1s linear 1 normal forwards;
    -moz-animation: fadein 1s linear 1 normal forwards;
    animation: fadein 1s linear 1 normal forwards;
}

.start-gaming {
    opacity: 0.8;
}

@keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.loading-wrapper {
    background: none !important;
}

.font-change {
    font-size: 60px !important;
}

ion-backdrop {
    opacity: 0.8 !important;
}

@media (max-width: 350px) {
    .box-game {
        font-size: 60px !important;
        line-height: 130px !important;
        width: 130px !important;
        height: 130px !important;
    }
    .box-pass {
        font-size: 25px !important;
        border-radius: 50% !important;
        width: 90px !important;
        height: 90px !important;
        line-height: 90px !important;
    }
}