<!--
  Generated template for the GameHaraganaRomajiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Haragana-Romaji</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding class="haragana-romaji-wrapper">
    <ion-grid>
        <ion-row>
            <ion-col col-6>
                <div class="box-time" block text-center>{{ time_countdown }}</div>
            </ion-col>
            <ion-col col-6>
                <div class="score" text-right>{{ indexWord }}/{{ objectWords.length }}</div>
            </ion-col>
        </ion-row>
        <ion-row class="box-game-wrapper">
            <div class="box-game" block text-center><span>{{ japanese_char }}</span></div>
        </ion-row>
        <ion-row class="box-pass-wrapper" *ngIf="!isEnded">
            <ion-col col-4 *ngFor="let r of randomWords">
                <button ion-button (click)="onPass(r)" [disabled]="isClickedButton" [class.right]="r === right" [class.wrong]="r === wrong">{{ r }}</button>
            </ion-col>
        </ion-row>
        <ion-row class="box-pass-wrapper" *ngIf="!isEnded">
            <ion-col col-4 *ngFor="let r of randomWords2">
                <button ion-button (click)="onPass(r)" [disabled]="isClickedButton" [class.right]="r === right" [class.wrong]="r === wrong">{{ r }}</button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="isEnded">
            <div class="box-result-wrapper">{{ result }}%</div>
        </ion-row>
        <ion-row *ngIf="isEnded">
            <button class="btn-close" ion-button block (click)="onClose()">Close</button>
        </ion-row>
    </ion-grid>
</ion-content>